@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

pre {
  word-break: break-all;
  white-space: pre-wrap;
}
a {
  text-decoration: none;
}
.v-text-field--filled .v-input__slot {
  border-radius: 0.4rem !important;
  &::after,
  &::before {
    content: none !important;
  }
}
.font-header {
  font-family: 'Staatliches', cursive;
}
.v-toolbar__title {
  font-family: 'Staatliches', cursive;
}
// .v-application {
//   font-family: Comfortaa, sans-serif !important;
// }
@import 'vendor/hljs.scss';
@import 'codemirror/lib/codemirror.css';
